:root {
  --width-menu: 15.5rem;
  --transition: transform 500ms;
}

body {
  transition: var(--transition);
  overflow-x: hidden;
}

.menu-button {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 1rem;
  left: 3rem;
  color: black;
  z-index: 0;
}

.menu-button > span {
  font-size: 48px;
}

.menu-button > span.arrow {
  font-size: 24px;
  display: block;
  padding: 0;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:active {
  color: white;
}

.menu {
  align-items: center;
  background-color: #373C4A;
  display: flex;
  font-family: sans-serif;
  height: 100%;
  min-width: var(--width-menu);
  padding: 4ch;
  position: absolute;
  top: 0;
  left: calc(var(--width-menu) * -1);
  z-index: 0;
}

.menu-active {
  transform: translateX(var(--width-menu));
}

.list {
  list-style: none;
}

.list a {
  color: white;
  text-decoration: none;
}

.list > li {
  padding-bottom: 3ch;
}
